{% extends 'base.html' %}

{% block body %}

<title>{{ the_title }}</title>

			 <div class="row">
			        <div style="text-align:center;margin-left:500px;">
			        <div class="col-sm-12">
			           <h1>Carbon Dioxide Analysis</h1>
			        </div>
			       </div>
		   </div>
        <hr/>

<ul>


	          <div class="col-sm-12">

	              <h4>Carbon Dioxide Analysis for World</h4>
	              <div class="text-center code-container">
	                  <!--<code>


	                    <a href="{{ base_url }}plots/global_carbon_dioxide_analysis">
	                      Global Carbon Dioxide Emission Analysis
	                      </a>
	                  </code>-->

	              </div>

	          </div>

	  	 <div class="row">
	  	        <div class="col-sm-6">
	  	            <h4>Plot</h4>
	  	            <div class="img" id="global"><img class="img-fluid"
	  	                                  src="{{ base_url }}plots/global_carbon_dioxide_analysis"></div>

	  	        </div>

         </div>
         <hr/>

	    <div class="col-sm-12">

	              <h4>Forecasted Carbon Dioxide Values for World</h4>
	              <div class="text-center code-container">
	                  <!--<code>


	                     <a href="{{ base_url }}plots/global_forecast_carbon_dioxide_analysis">
	                      Zoom-in to see detail
	                      </a>
	                  </code>-->

	              </div>

	          </div>

	  	 <div class="row">
	  	        <div class="col-sm-6">
	  	            <h4>Plot</h4>
	  	            <div class="img" id="global_forecast"><img class="img-fluid"
	  	                                  src="{{ base_url }}plots/global_forecast_carbon_dioxide_analysis"></div>

	  	        </div>

         </div>
         <hr/>

       <div class="col-sm-12">

	  	              <h4>Carbon Dioxide Analysis for USA</h4>
	  	              <div class="text-center code-container">
	  	                  <!--<code>


	  	                    <a href="{{ base_url }}plots/usa_carbon_dioxide_analysis">
	  	                      USA Carbon Dioxide Emission Analysis
	  	                      </a>
	  	                  </code>-->

	  	              </div>

	  	          </div>

	  	  	 <div class="row">
	  	  	        <div class="col-sm-6">
	  	  	            <h4>Plot</h4>
	  	  	            <div class="img" id="usa"><img class="img-fluid"
	  	  	                                  src="{{ base_url }}plots/usa_carbon_dioxide_analysis"></div>

	  	  	        </div>

         </div>
		 <hr/>

         <div class="col-sm-12">

		 	  	              <h4>Carbon Dioxide Analysis for China</h4>
		 	  	              <div class="text-center code-container">
		 	  	                  <!--<code>


		 	  	                     <a href="{{ base_url }}plots/china_carbon_dioxide_analysis">
		 	  	                      China Carbon Dioxide Emission Analysis
		 	  	                      </a>
		 	  	                  </code>-->

		 	  	              </div>

		 	  	          </div>

		 	  	  	 <div class="row">
		 	  	  	        <div class="col-sm-6">
		 	  	  	            <h4>Plot</h4>
		 	  	  	            <div class="img" id="china"><img class="img-fluid"
		 	  	  	                                  src="{{ base_url }}plots/china_carbon_dioxide_analysis"></div>

		 	  	  	        </div>

         </div>
		 <hr/>

		<div class="col-sm-12">

				 	  	      <h4>Carbon Dioxide Analysis for India</h4>
				 	  	      <div class="text-center code-container">
				 	  	          <!--<code>


				 	  	                     <a href="{{ base_url }}plots/india_carbon_dioxide_analysis">
				 	  	                      India Carbon Dioxide Emission Analysis
				 	  	                      </a>
				 	  	                  </code>-->

				 	  	              </div>

				 	  	          </div>

				 	  	  	 <div class="row">
				 	  	  	        <div class="col-sm-6">
				 	  	  	            <h4>Plot</h4>
				 	  	  	            <div class="img" id="india"><img class="img-fluid"
				 	  	  	                                  src="{{ base_url }}plots/india_carbon_dioxide_analysis"></div>

				 	  	  	        </div>

         </div>
		 <hr/>

        <div class="col-sm-12">

				 	  	      <h4>Carbon Dioxide Analysis for United Kingdom</h4>
				 	  	      <div class="text-center code-container">
				 	  	          <!--<code>


				 	  	                     <a href="{{ base_url }}plots/uk_carbon_dioxide_analysis">
				 	  	                      United Kingdom Carbon Dioxide Emission Analysis
				 	  	                      </a>
				 	  	                  </code>-->

				 	  	              </div>

				 	  	          </div>

				 	  	  	 <div class="row">
				 	  	  	        <div class="col-sm-6">
				 	  	  	            <h4>Plot</h4>
				 	  	  	            <div class="img" id="uk"><img class="img-fluid"
				 	  	  	                                  src="{{ base_url }}plots/uk_carbon_dioxide_analysis"></div>

				 	  	  	        </div>

         </div>
		 <hr/>

        <div class="col-sm-12">

				 	  	      <h4>Carbon Dioxide Analysis for Australia</h4>
				 	  	      <div class="text-center code-container">
				 	  	          <!--<code>


				 	  	                     <a href="{{ base_url }}plots/australia_carbon_dioxide_analysis">
				 	  	                      Australia Carbon Dioxide Emission Analysis
				 	  	                      </a>
				 	  	                  </code>-->

				 	  	              </div>

				 	  	          </div>

				 	  	  	 <div class="row">
				 	  	  	        <div class="col-sm-6">
				 	  	  	            <h4>Plot</h4>
				 	  	  	            <div class="img" id="aus"><img class="img-fluid"
				 	  	  	                                  src="{{ base_url }}plots/australia_carbon_dioxide_analysis"></div>

				 	  	  	        </div>

         </div>
		 <hr/>

	    <div class="col-sm-12">

				 	  	      <h4>Carbon Dioxide Analysis for Japan</h4>
				 	  	      <div class="text-center code-container">
				 	  	          <!-- <code>


				 	  	                     <a href="{{ base_url }}plots/japan_carbon_dioxide_analysis">
				 	  	                      Japan Carbon Dioxide Emission Analysis
				 	  	                      </a>
				 	  	                  </code>-->

				 	  	              </div>

				 	  	          </div>

				 	  	  	 <div class="row">
				 	  	  	        <div class="col-sm-6">
				 	  	  	            <h4>Plot</h4>
				 	  	  	            <div class="img" id="japan"><img class="img-fluid"
				 	  	  	                                  src="{{ base_url }}plots/japan_carbon_dioxide_analysis"></div>

				 	  	  	        </div>

         </div>
		 <hr/>

	    <div class="col-sm-12">

				 	  	      <h4>Carbon Dioxide Analysis for Germany</h4>
				 	  	      <div class="text-center code-container">
				 	  	          <!--<code>


				 	  	                     <a href="{{ base_url }}plots/germany_carbon_dioxide_analysis">
				 	  	                      Germany Carbon Dioxide Emission Analysis
				 	  	                      </a>
				 	  	                  </code>-->

				 	  	              </div>

				 	  	          </div>

				 	  	  	 <div class="row">
				 	  	  	        <div class="col-sm-6">
				 	  	  	            <h4>Plot</h4>
				 	  	  	            <div class="img" id="ger"><img class="img-fluid"
				 	  	  	                                  src="{{ base_url }}plots/germany_carbon_dioxide_analysis"></div>

				 	  	  	        </div>

         </div>
		 <hr/>

	    <div class="col-sm-12">

				 	  	      <h4>Carbon Dioxide Analysis for Nigeria</h4>
				 	  	      <div class="text-center code-container">
				 	  	          <!--<code>


				 	  	                     <a href="{{ base_url }}plots/nigeria_carbon_dioxide_analysis">
				 	  	                      Nigeria Carbon Dioxide Emission Analysis
				 	  	                      </a>
				 	  	                  </code>-->

				 	  	              </div>

				 	  	          </div>

				 	  	  	 <div class="row">
				 	  	  	        <div class="col-sm-6">
				 	  	  	            <h4>Plot</h4>
				 	  	  	            <div class="img" id="nig"><img class="img-fluid"
				 	  	  	                                  src="{{ base_url }}plots/nigeria_carbon_dioxide_analysis"></div>

				 	  	  	        </div>

         </div>
		 <hr/>

	    <div class="col-sm-12">

				 	  	      <h4>Carbon Dioxide Analysis for Brazil</h4>
				 	  	      <div class="text-center code-container">
				 	  	          <!--<code>


				 	  	                     <a href="{{ base_url }}plots/brazil_carbon_dioxide_analysis">
				 	  	                      Brazil Carbon Dioxide Emission Analysis
				 	  	                      </a>
				 	  	                  </code>-->

				 	  	              </div>

				 	  	          </div>

				 	  	  	 <div class="row">
				 	  	  	        <div class="col-sm-6">
				 	  	  	            <h4>Plot</h4>
				 	  	  	            <div class="img" id="brazil"><img class="img-fluid"
				 	  	  	                                  src="{{ base_url }}plots/brazil_carbon_dioxide_analysis"></div>

				 	  	  	        </div>

         </div>
		 <hr/>

  <!--<li><a href="{{ url_for('temp') }}">Temperature Anomaly Analysis</a></li>-->
  <li><a href="{{ url_for('index') }}">Home page</a></li>
</ul>




{% endblock %}
